@{
    ViewBag.SearchCount = 500;
}

<p style="font-weight: bold">View Data test</p>
<p>@ViewBag.CustomerCount is found in the database</p>
<p>Last customer name: @ViewData["CustomerName"]</p>
<p>Customer is searched @ViewBag.SearchCount times</p>
