@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mail Engine Test</h1>
    <p class="lead">
        This is test page for email, you can either do unit-testing (showing the email content on a web page) or sending real email.<br />
        Kindly do NOT change the email password so that other can start the testing immediately.<br/>

    </p>
</div>

<table class="table table-bordered table-hover" style="width: 100%; margin-top: 15px">
    <thead>
        <tr class="bg-warning">
            <td>Name</td>
            <td>Unit Test</td>
            <td>Email</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>View Bag</td>
            <td>
                <a href="">Test</a>
            </td>
            <td>
                <a href="">Send</a>
            </td>
            <td>Test ViewBag/ViewData</td>
        </tr>
    </tbody>
</table>
